@page "/zoos/create"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using ZooReviewDotComII.Models
@using ZooReviewDotComII.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Zoo</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Zoo" OnValidSubmit="AddZoo" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Zoo.Name" class="form-control" /> 
                <ValidationMessage For="() => Zoo.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="town" class="form-label">Town:</label> 
                <InputText id="town" @bind-Value="Zoo.Town" class="form-control" /> 
                <ValidationMessage For="() => Zoo.Town" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Picture (max 10mb):</label>
                <InputFile id="image" OnChange="OnInputFileChange" />
                <ValidationMessage For="() => Zoo.Image" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/zoos">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Zoo Zoo { get; set; } = new();
    
    private byte[]? _uploadedImageData;

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        const long maxFileSize = 10 * 1024 * 1024; // 10 MB

        if (file is { Size: <= maxFileSize })
        {
            using var memoryStream = new MemoryStream();
            await file.OpenReadStream(maxFileSize).CopyToAsync(memoryStream);
            _uploadedImageData = memoryStream.ToArray();
        }
        else
        {
            Console.WriteLine("File size exceeds the 10 MB limit.");
        }
    }
    
    private async Task AddZoo()
    {
        await using ApplicationDbContext context = DbFactory.CreateDbContext();
        Zoo.Image = _uploadedImageData;
        context.Zoos.Add(Zoo);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/zoos");
    }
}
